<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<table>
    <tr>
        <td>
            <section>
                <mat-card class="example-card">
                  
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Title</mat-card-title>
                      <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/beach.jpg" alt="Vacationpic">
                    
                    <mat-card-content>
                      <p>
                        The quick brown fox jump over the lazy dog near the bank of the river.
                      </p>
                    </mat-card-content>
                    
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                
                </mat-card>
                </section>
        </td>
        <td>
            <section>
                <mat-card class="example-card"> 
                
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Title</mat-card-title>
                      <mat-card-subtitle>Subtitle</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../assets/images/casino.jpg" alt="Vacationpic">
                    
                    <mat-card-content>
                      <p>
                       my Paragraph
                      </p>
                    </mat-card-content>
                    
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                 
                </mat-card>
                </section>
        </td>

    </tr>
</table>



