<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav 
      #drawer
      class="sidenav"
      fixedInViewport
      [ngClass] = "{hidden: !(isHandset$ | async)!}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home!!</a>
      <a mat-list-item routerLink="aboutus">About Us</a>
      <a mat-list-item routerLink="login">Login</a>
      <a mat-list-item routerLink="myaccount">My Account</a>
      <a mat-list-item routerLink="register">Sign Up!</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
      <a routerLink="home"><img  width ="150" alt="Excelsior Travel Agency" src="assets/images/excelsiorlogo4darktrans.gif.png"/></a>   
    </div>

      <div [ngClass] = "{hidden: (isHandset$ | async)!}">
        <section>
          <div class="example-button-row">
            <button mat-button [matMenuTriggerFor]="menu">Menu<mat-icon>arrow_drop_down</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item ><mat-icon color="primary">directions_boat</mat-icon>Cruises</button>
              <button mat-menu-item><mat-icon color="warn">flight</mat-icon>Flights</button>
              <button mat-menu-item><mat-icon color="accent">directions_car</mat-icon>Cars</button>
              <button mat-menu-item><mat-icon color="primary">hotel</mat-icon>Hotels</button>
              <button mat-menu-item  routerLink="home"><mat-icon color="warn">business_center</mat-icon>Packages</button>
              <button mat-menu-item><mat-icon color="accent"> format_list_numbered</mat-icon>Itinerary</button>
            </mat-menu>
            <button mat-button color="accent" routerLink="home">Vacations</button>
            <button mat-button color="accent" routerLink="aboutus">About</button>
            <button mat-button color="accent">Contact Us</button>
            <a mat-button href="#" target="_blank">FIND US</a>
            <a class="tab0" href="https://www.fa-facebookcom/" class="fa fa-facebook w3-round-xxxlarge w3-blue "></a>
            <a href="https://www.twitter.com/" class="fa fa-twitter"></a>
            <a href="https://www.google.com/" class="fa fa-google"></a>
            <a href="https://www.linkedincom/" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
            <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
            <button mat-button color="accent"><mat-icon color="warn">phone</mat-icon>1.800.123.4567</button>
            <button mat-button color="accent"><mat-icon color="warn">email</mat-icon></button>
            <button mat-button color="accent" routerLink="login">Login</button>
            <button mat-button color="accent" routerLink="register">Sign Up</button>   
          </div>
        </section>
      <!-- <a routerLink="home"><mat-icon>home</mat-icon> Home</a>
      <a routerLink="aboutus">About Us</a>
      <a routerLink="login">Login</a>
      <a routerLink="myaccount"><mat-icon>settings</mat-icon>My Account</a>
      <a routerLink="register">Sign Up!</a> -->
    </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>



